.box {
  padding: 5px;
  background-color: #e63d97;
}

.grid__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.grid__item ul {
  list-style: none;
}

.grid__item ul li {
  display: inline;
  margin: 0px 5px;
}

.link {
  text-decoration: none;
  color: black;
}
