.titulo {
  padding: 150px 250px 0px 250px;
  text-align: left;
}

.box-table {
  padding: 10px 250px;
  display: flex;
}

.row-color {
  background-color: #e63d97;
  color: #FFFFFF;
}

.texto-table {
  color: #FFFFFF;
  text-decoration: underline;
}

.cardMedia__cart{
  max-width: 30%;
  height: 10vh;
}
