.titulo {
  padding: 150px 250px 0px 250px;
  text-align: left;
}

.sub-titulo{
  text-align: right;
  padding: 30px 250px;
}

.box-table {
  padding: 10px 250px;
  display: flex;
}

.row-color {
  background-color: #e63d97;
  color: #FFFFFF;
}

.texto-table {
  color: #FFFFFF;
  text-decoration: underline;
}

.cardMedia__cart{
  width: 7vw;
  height: 10vh;
}

.cell-container {
  width: 9vw;
  height: 10vh;
}

.botoneraEnCarrito {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 0px 250px;
  gap: 20px;
}
